body {
	font-family:sans-serif;
	background:#F9F9F9;
}

:focus { outline:none;}

.container {
	width:300px;
	background:#FFF;
	margin:200px auto;
	padding:20px;
	box-shadow:0 0 5px #CCC;
	-o-box-shadow:0 0 5px #CCC;
	-moz-box-shadow:0 0 5px #CCC;
	-webkit-box-shadow:0 0 5px #CCC;
}

input {
	display:block;
	border:1px solid #E9E9E9;
	padding:8px;
	margin:0 0 10px 0;
	font-size:14px;
	width:280px;
	border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

input[type=submit] { 
	background:#5B9ED3; 
	width:298px; 
	border:none; 
	margin:0; 
	color:#FFF;
	cursor:pointer;
}